/OMNIWeb_data_official/ace_data_unix.csv filter=lfs diff=lfs merge=lfs -text
/OMNIWeb_data_official/dscovr_data_unix.csv filter=lfs diff=lfs merge=lfs -text
/OMNIWeb_data_official/wind_data_unix.csv filter=lfs diff=lfs merge=lfs -text
